<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>block 태그와 a링크</h3>
<!--블럭태그는 가짜중괄호다-->

<ul>
    <th:block th:each="vo : ${list}">
        <li>[[${vo}]]</li>
    </th:block>
</ul>

<hr>

<h3>타임리프 a링크</h3>

<ul>
    <!---->
    <li th:each="vo : ${list}">
        <!--쿼리스트링으로 넘기기-->
        <a th:href="@{/view/result(name=${vo.name})}">[[${vo.name}]]</a>

        <!--쿼리 파라미터로 넘기기-->

        <a th:href="@{/view/result2/{a}/{b}(a=${vo.getAddress()}, b=값) }">다음거</a>
    </li>
</ul>

</body>
</html>